<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
  <title>DevBook - Cadastro</title>
</head>
<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="form-register">
        <span>Crie sua conta!</span>
        <div>
          <input type="text" name="name" id="name" placeholder="Digite o seu nome" required="required">
        </div>
        <div>
          <input type="text" name="nick" id="nick" placeholder="Digite o seu nick!" required="required">
        </div>
        <div>
          <input type="text" name="email" id="email" placeholder="Digite seu email!" required="required">
        </div>
        <div>
          <input type="password" name="pass" id="pass" placeholder="Digite a sua senha" required="required">
        </div>
        <div>
          <input type="password" name="pass-confirm" id="pass-confirm" placeholder="Confirme a sua senha" required="required">
        </div>
        <a href="/login"> Clique aqui para realizar o login! </a>
        <button type="submit" class="btn-devbook"> Cadastrar </button>
      </form>
    </div>
  </div>
  
  {{ template "scripts" }}
  <script src="/assets/js/register.js"></script>
</body>
</html>